* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fffff0;
}
nav {
  height: 72px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 5px 15px lightgray;
}
ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.listItem {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
li:hover {
  color: Red;
}
.logo {
  font-weight: 600;
  font-size: 30px;
  color: red;
  border-radius: 5px;
  padding: 7px;
}
span {
  color: black;
}
.menu-icon-container {
  position: fixed;
  right: 20px;
  top: 20px;
  display: none;
}
#menu-icon {
  width: 20px;
  height: auto;
}

@media (max-width: 770px) {
  .menu-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  li:hover {
    transition: 0.2s;
    padding-left: 30px;
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  ul {
    display: block;
    height: 160px;
    margin-top: 15px;
    width: 100%;
    order: 3;
  }
  .logo {
    border: 2px solid red;
  }
}
